#categoryId {
    display:none;
}
.contArtItem {
    font-size: 11pt;
    font-family: 'Estrangelo Edessa';
    height: 150pt;
    width: 87%;
    color: #777749;
    margin-left: 3%;
    word-wrap: break-word;
    overflow: hidden;
}
.columns {
    height:100%;
    width: 100%;
    display:inline-block;
}

.filterBox {
    min-width:200pt;
    height: 335pt;
    width: 18%;
    margin-left: 2%;
    background-color:#f6f6ee;
    display: inline-block;
    float: left;
    position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.middleContent {
    width:60%;
    margin-left:20%;
    background-color: #f6f6ee;
    margin-right: 20%;
    display: inline-block;
    float: left;
}
.hotItems {
    
height: 100%;
    
display: inline-block;
    
width: 100%;
    
margin-top: 8%;
}
.hotItemsHead {
    border-bottom: 4px solid #86b300;
    height: 30px;
    width: 86.5%;
    margin-left: 6.5%;
    margin-right: 6.5%;
}
.articlePict {
    background-color:gray;
    width: 85%;
    margin-left: 3%;
    height: 124pt;
}
.headName {
    color: #33331a;
    font-size: 14pt;
    height: 100%;
    width: 65pt;
    border-bottom: 4px solid  #33331a;
    display: inline-block;
    text-align: center;
}
.moreNews {
    background-color:#86b300;
    float:right;
    width: 30pt;
    height: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
    .moreNews a {
        color:white;
        font-size:20pt;
        font-weight: 700;
        text-decoration: none;
    }
.column1 {
    width: 48%;
    margin-left: 2%;
    float:left;
}
.column2 {
    width:42%;
    margin-left:5%;
    float:left;   
    
}
.listItem {
    display:inline-block;
    
}
    .listItem a {
        font-size: 14pt;
        margin-top: 6pt;
        color:#212112;
        text-decoration: none;
        line-height: 20pt;
        word-break: break-all;
    }
    .listItem a:visited {
            color:#73733f;
        }
        .listItem a:hover {
            color:#86b300;
        }
.listText {
    font-family:'Estrangelo Edessa';
    font-size:16pt;
    padding:8pt;
}
.button {
    background-color: #86b300;
    border: none;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 9%;
    margin-bottom: 10pt;
    cursor: pointer;
    border-radius: 2px;
}
.articleItem {
    width:100%;
    overflow:hidden;
    margin-top: 6%;
}

.itemInter {
    margin-left: 6%;
    margin-right: 0%;
    width: 86%;
    height: 86%;
    margin-bottom:2%;
    padding-left: 5px;
    padding-right:5px;
}


.headArtItem {
    font-size: 15pt;
    padding: 4px;
    font-family:'Estrangelo Edessa';
    height: 30pt;
    width: 89%;
    margin-left: 10pt;
    word-wrap: break-word;
}
    .headArtItem a {
        color:#212112;
        text-decoration: none;
    }
        .headArtItem a:visited {
            color:#73733f;
        }
        .headArtItem a:hover {
            color:#86b300;
        }
.moreInform {

width: 100%;

height: 15pt;

padding: 5pt;

margin-left: 10pt;
}
.date {
    font-size: 8pt;
    color: #aeae6b;
    display:inline-block;
    float:left;
}
.category {
    font-size: 8pt;
    color: #aeae6b;
    display:inline-block;
    float: left;
    padding-left: 16px;
}
.sendDate {
    float:right;
    display:inline-block;
    margin-right:2%;
    margin-bottom:3%;
    background-color: #86b300; /* Green */
    border: none;
    color: white;
    padding: 4pt 8pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8pt;
    cursor:pointer;
    margin-top: 5pt;
    margin-right: 7pt;
}
.sendDate:hover {
        background-color:#dfff80;
        color:#444422;
    }
.datapickerItem {
    margin-top: 7pt;
    margin-left: 5pt;
    display:inline-block;
    float:left;
    max-width: 60pt;
    font-family: 'Estrangelo Edessa';
}
.itemsEmptyResult p{
    text-align:center;
    margin-top:20%;
    padding-bottom:20%;
    font-size:20pt;

}
#from, #to {
    display:inline-block;
    float:left;
}
.filterBox-gorizontal {
    display:none;
    width:100%;
    height:100pt;
}