.articleItem {
    width:100%;
    overflow:hidden;
    margin-top: 6%;
}

.itemInter {
    margin-left: 8%;
    margin-right:2%;
    width: 94%;
    height: 86%;
    margin-bottom:2%;
    padding-left: 5px;
    padding-right:5px;
}
.result {
    padding-top: 18pt;
}
#result {
    padding-top:10pt;
}
#home {
    font-family:'Estrangelo Edessa';
    background-color:#86b300;
    padding:3px;
    color: white;
}
.headArtItem {
    font-size: 15pt;
    padding: 6px;
    font-family:'Estrangelo Edessa';
    height: 35pt;
    width:80%;
}
    .headArtItem a {
        color:#212112;
        text-decoration: none;
    }
        .headArtItem a:visited {
            color:#73733f;
        }
        .headArtItem a:hover {
            color:#86b300;
        }
.moreInform {

}
.date {
    font-size: 8pt;
    color: #aeae6b;
    display:inline-block;
    float:left;
}
.category {
    font-size: 8pt;
    color: #aeae6b;
    display:inline-block;
    float: left;
    padding-left: 16px;
}
.contArtItem {
    font-size:11pt;
    font-family:'Estrangelo Edessa';
    height: 150pt;
    width: 80%;
    overflow:hidden;
    word-wrap:break-word;
    word-break:break-all;
    margin-top:15pt;
    color:#666633;
}
.columns {
    background-color:#f6f6ee;
    height:100%;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    display:inline-block;
}
.hotItems {
    
height: 100%;
    
display: inline-block;
    
width: 100%;
    
margin-top: 8%;
}
.hotItemsHead {
    border-bottom: 4px solid #86b300;
    height: 30px;
    width: 86.5%;
    margin-left: 6.5%;
    margin-right: 6.5%;
}
.articlePict {
    background-color:gray;
    width: 78%;
    height: 124pt;
}
.headName {
    color: #33331a;
    font-size: 14pt;
    height: 100%;
    width: 65pt;
    border-bottom: 4px solid  #33331a;
    display: inline-block;
    text-align: center;
}
.moreNews {
    background-color:#86b300;
    float:right;
    width: 30pt;
    height: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
    .moreNews a {
        color:white;
        font-size:20pt;
        font-weight: 700;
        text-decoration: none;
    }
.column1 {
    width: 48%;
    margin-left: 2%;
    float:left;
}
.column2 {
    width:42%;
    margin-left:5%;
    float:left;   
    
}
.listItem {
    display:inline-block;
    
}
    .listItem a {
        font-size: 14pt;
        margin-top: 6pt;
        color:#212112;
        text-decoration: none;
        line-height: 20pt;
        word-break: break-all;
    }
    .listItem a:visited {
            color:#73733f;
        }
        .listItem a:hover {
            color:#86b300;
        }
.listText {
    font-family:'Estrangelo Edessa';
    font-size: 20pt;
    padding:8pt;
    text-align: center;
}

.listText a {
    text-decoration: none;
    color: #444422;
}

.listText a:hover {
    color: #86b300;
}
.button {
    background-color: #86b300;
    border: none;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-left: 9%;
    margin-bottom: 10pt;
    cursor: pointer;
    border-radius: 2px;
}