body {
    background-color:#b8b894;
}
header, footer, nav, section {
    display: block;
}

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 200px;
    min-width: 80%;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
/*Basic styles for menu and header*/
body {    
    margin:0;
    max-width: 100%;
}
.pageBox {
    
}
.menu {    
    width: 100%;    
    
   
}
.dateTime {
    color:#CBCB96;
    float: left;
    display:inline-block;
    padding: 11px;
    font-size: 13pt;
    font-family: 'Estrangelo Edessa';
    margin-left: 6.3%;
}
.contacts {
    display:block;
    height:40px;
    width:60%;
    background-color:#303030 ;
    border-top:4px solid #86b300;
    box-shadow:10px;
    margin-left:20% ;
	margin-right:20%;
}
.addedPower {
    display:inline-block;    
    width:100%;    
}
.header {
    background-color:#f6f6ee;
    height:100px;
    margin-left:20% ;
	margin-right:20%;
}

.offerNews {
    margin-right:1%;
    float:right;
    
    cursor:pointer;
}
.toArchive {
    float:right;
   
    margin-right:1%;
    margin-top:3px;
}
.toStatistic {
    float:right;
    margin-right:1%;
    margin-top:3px;
}
.navpanel {
    
height: 50px;
    
width: 100%;
    
/*position:fixed;*/
}
.hiddenBar {
    margin-top:-26pt;
    margin-left:70pt;
    display:none;
    background-color:#86b300;
    position:fixed;
    width:150px;   
    
}
    .hiddenBar li a{
    font-family:'Courier New';
    
    text-decoration:none;
    }
.hiddenBar li a:hover {
    
    border-bottom: 2px solid ;
    border-spacing:3px;

}
.addHdnNewsPanel {
    font-size:12pt;
    background-color:white;
    float:right;
    width: 11%;
    position:absolute;
    margin-left: 69%;
    top: 43px;
    background-color: #e5e5cd;
    display:none;
}
.addHdnNewsPanel a {
    font-family: 'Estrangelo Edessa';
    text-decoration:none;
    width: 100%;
    padding-left: 8pt;
    color: #CBCB96;
}
.addHdnNewsPanel  a:hover{
    color:#222211;
    
}
.addNewsItem {
    width: 100%;
    line-height: 23pt;
    border-bottom: 1px solid white;
}
    .addNewsItem:hover {
        background-color:white;
        color:#222211;
    }
.addNewsItemHover {
    background-color: white;
}
.afterHead {
    height: 80px;
}
.bigLogo {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-size:40pt;
        margin-left: 6.3%;
    padding-top: 25pt;
    
}
    .bigLogo p {
    display:inline-block;
    float:left;
    }
.middle{
	width: 60%;
	height: 50px;
	display:inline-block;
	background-color:#f6f6ee;
	float:left;
	margin-left:20%;
	margin-right:20%;
}

.navLinks{
	height: 40px;
	width: 100%;
	float:left;
	display:inline-block;
	padding-bottom: 6px;
}
.enum li {
    display: inline-block;
    font-size:13pt;    
    padding: 3px;
    font-family:'Estrangelo Edessa';
}
.enum {
    margin-left:17pt;
    width:100%;
}
.enum li a {    
    
    text-decoration:none;    
    border:2px;    
    padding: 4px;    
    color: #222211;

}
.enum li a:hover {      
    
}

.runLine {
    height:30px;    
}
#line {
            width: 210px;
            height: 20px;
            padding: 5px;
            display:inline-block;
            float:left;
            margin-left: 5%;
            color: #86b300;
        }
.runLineContent {
    width:60%;
    margin-left:20%;
    margin-right:20%;
    background-color:#f6f6ee;
    height: 30px;
    display:inline-block;
    float:left;
}
#breakingNews {
    overflow: hidden;
    display:inline-block;
    float:left;
    width: 100%;
    height: 50pt;
}
.breakRed {
    color:whitesmoke;
    background-color:red;
    padding:6px;
    width: 15%;
    font-size: 8pt;
    margin-left: 6.3%;
    display: inline-block;
    float: left;
}
.active {
    
    border: 3px solid #ff9f80;
}
.allSpace{
}
.allSpaceContainer {
    
width: 100%;
    

    

}
.fullContent {
    
width:100%;
    
/*display:inline-block;*/
    

}

.dropbtn {
    padding: 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: rgb(34, 34, 17);
    background-color: rgb(246, 246, 238);
    font-family: 'Estrangelo Edessa';
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #86b300;
}