@model SAM.Training.News.Models.Article
@{
    ViewBag.Title = "IndexAdd";
}

<h2>IndexAdd</h2>
 @section Styles{
                    
        @Styles.Render("~/Styles/addStyleSheet.css")
                }
@section inter{
    <div class="allContent">
        <div id="headF">Offer your article!</div>
        <div class ="allfields">
              
        
            </div>
            
            <div class=""></div>
        </div>
    
    
    }